body {
  background-color: black;
}

.rotating-box{
    width: 400px;
    height: 400px;
    margin: 10px auto;
    perspective: 800px;
}

.single-rb{
  width: 400px;
  animation: rotate 15s linear infinite;
  transform-style: preserve-3d;
  margin-top: 300px;
}

.single-rb img{
  height: 400px;
  width: 1000px;
  object-fit: fill;
}

.single-rb div{
  position: absolute;
  width: 400px;
  height: 400px;
}

.front-side{
  transform: translateZ(200px);
}

.back-side {
  transform: rotateY(180deg)
  translateZ(200px)
  translateX(-600px);
}

// .left-side{
//   transform: rotateY(-90deg)
//   translateX(-200px);
//   transform-origin: left;
// }
//
// .right-side {
//   transform: rotateY(90deg)
//   translateX(200px);
//   transform-origin: right;
// }

.top-side {
  transform: rotateX(-270deg)
  translateY(-200px);
  transform-origin: top;
}

.bottom-side {
  transform: rotateX(270deg)
  translateY(200px);
  transform-origin: bottom;
}

@keyframes rotate{
  0%{transform: rotateX(0);}
  100%{transform: rotateX(-360deg);}
}
